.Navbar {
  background: "#E5E5E5";
  grid-area: nav;
  height: 60px;
  width: 99%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0 0px;
  margin-top: 10px;
  /* max-width:1440px; */

  /* border-bottom: 1px solid lightgray; */
}
.nav {
  /* margin-left: 300px; */
}
.nav_icon {
  visibility: hidden;
}

.nav_icon > i {
  font-size: 26px;
  color: #a5aaad;
}

.navbar__left > h1 {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-left: 60px;
  color: #666666;
}

.notification {
  width: 17px;
  height: 15.8px;
  margin-right: 18px;
}
.navbar__left .active_link {
  color: #265acc;
  border-bottom: 3px solid #265acc;
  padding-bottom: 12px;
}

.navbar__right {
  /* display: flex;
  justify-content: space-around;
  align-items: center; */
  margin-right: 40px;
}

.navbar__right > a {
  margin-left: 20px;
  text-decoration: none !important;
}
.navbar__right > a > img {
}

.navbar__right > a > i {
  color: #a5aaad;
  font-size: 16px;
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 2px 2px 5px #d9d9d9, -2px -2px 5px #ffffff;
  padding: 7px;
}

@media only screen and (max-width: 978px) {
  .nav_icon {
    visibility: visible;
  }
}

@media only screen and (max-width: 480px) {
  .navbar__left {
    display: none;
  }
}
