body {
  margin: 0;
  background: #151616;
  font-family: roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --bg: #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

/* Top Navigation Bar */

/* <nav> */
.navbar {
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 0 1rem;
  border-bottom: var(--border);
}

/* <ul> */
.navright-nav {
  display: flex;
  justify-content: flex-end;
}

/* <li> */
.nav-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.nav-item > a {
  margin-left: 20px;
  text-decoration: none !important;
  color: black;
}

/* Icon Button */
.icon-button {
  /* --button-size: calc(var(--nav-size) * 0.5); */
  /* width: var(--button-size); */
  /* height: var(--button-size); */
  /* background-color: #484a4d; */
  /* border-radius: 50%; */
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.icon-button:hover {
  filter: brightness(1.2);
}

.icon-button svg {
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}

/* Dropdown Menu */

.dashboarddropdown {
  position: absolute;
  z-index: 99;
  top: 6rem;
  right: -5rem;
  width: 190px;
  height: 150px;
  transform: translateX(-45%);
  padding: 2rem 3rem 1.5rem 1.5rem;
  overflow: hidden;
  transition: height var(--speed) ease;
  background: #ffffff;
  border: 1px solid #0768f6;
  box-sizing: border-box;
  box-shadow: 1px 0px 20px rgba(153, 153, 153, 0.39);
  border-radius: 4px;
}

.menu {
  width: 100%;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  color: #151616;
  font-size: 1.6rem;
  line-height: 19px;
  transition: background var(--speed);
  /* padding: 0.5rem; */
}

.menu-item .icon-button {
  margin-right: 0.5rem;
}

.menu-item .icon-button:hover {
  filter: none;
}

.menu-item:hover {
  background-color: #f0f1f5;
}

.icon-right {
  margin-left: auto;
}

/* CSSTransition classes  */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-secondary-exit {
}
.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}
