.identification-section{
 width: 90%;
 margin: auto;
}
.identificationPage h1{
  font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 1.8rem;
line-height: 30px;
letter-spacing: 0.03em;
color: #FD740E;
margin-top: 27px;

}

.identificationPage p{
  font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 1.6rem;
line-height: 24px;
letter-spacing: 0.03em;
color: #666666;
margin-top: 12px;
}

.identification-upload{
width: 396px;
height: 135px;
border: 1px dashed #000000;
box-sizing: border-box;
border-radius: 8px;
margin-top: 35px;
}
.identification-upload p{
  font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
text-align: center;
color: #666666;
  margin-top: 23px;
}
.upload{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 41px;
}

.upload-input{
  margin-top: 40px;
  width: 396px;
height: 48px;
border: 1px solid #E5E5E5;
box-sizing: border-box;
border-radius: 4px;
}
.Upload-note{
  font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 1.2rem;
line-height: 20px;
color: #666666;
margin-top: 16px;
}