.aboutus {
  /* background: linear-gradient(to left, rgba(255, 255, 255, 0.603), rgb(255, 255, 255)), url("../Assets/Ellipse2.png"),
    url("../Assets//Ellipse.png");
  background-size: 35vw;
  object-fit: cover;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left, right;
  background-color: #f0f6ff !important; */
  /* background: #f0f6ff !important; */
}
.aboutus__hero {
  background-color: #f0f6ff !important;
  position: relative;
  background-position: top;
  height: 125vh;
  background-size: cover;
}
.aboutus__box {
  z-index: 0;
  position: absolute;
  top: 20%;
  left: 38%;
  transform: translate(-50% -50%);
}

.aboutus--image > img {
  /* z-index: -1; */
  position: relative;
}
.aboutus__badge {
  width: 24.7rem;
  height: 4rem;
  background: rgba(239, 210, 171, 0.39);
  border-radius: 0.4rem;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #fd740e;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: -0.02rem;
  margin-left: 3rem;
  /* margin-bottom: 9rem; */
  display: block;
  padding-top: 1rem;
}
.aboutus__header--text {
  display: block;
  font-weight: 500;
  font-size: 4.5rem;
  line-height: 5.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem 0rem 2rem -19.3rem;
  text-align: center;
  letter-spacing: -0.02rem;
  color: #121212;
}
.aboutus__header--footer {
  display: block;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2rem 0rem 2rem -19.3rem;
  color: #666666;
}
.aboutus__smallBusiness {
  background: #ffffff;
  border: 1px solid #ebebeb;
  /* box-sizing: border-box; */
  box-shadow: 4px 20px 40px rgba(230, 230, 230, 0.33);
  border-radius: 0.4rem;
  position: absolute;
  /* padding: 2rem 15.3rem; */
  color: #0768f6;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2.5rem;
  top: 29%;
  left: 51.4%;
  height: 7rem;
  width: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutus__realestate {
  background: #ffffff;
  border: 1px solid #ebebeb;
  /* box-sizing: border-box; */
  box-shadow: 4px 20px 40px rgba(230, 230, 230, 0.33);
  border-radius: 0.4rem;
  position: absolute;
  padding: 1rem 2rem;
  color: #0768f6;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2.5rem;
  top: 46%;
  left: 48%;
  height: 7rem;
  width: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.aboutus__moneymarket {
  background: #ffffff;
  border: 1px solid #ebebeb;
  box-shadow: 4px 20px 40px rgba(230, 230, 230, 0.33);
  border-radius: 0.4rem;
  position: absolute;
  padding: 1rem 2rem;
  color: #0768f6;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2.5rem;
  top: 37%;
  right: 90%;
  height: 7rem;
  width: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.aboutus__autos {
  background: #ffffff;
  border: 1px solid #ebebeb;
  box-shadow: 4px 20px 40px rgba(230, 230, 230, 0.33);
  border-radius: 0.4rem;
  position: absolute;
  padding: 1rem 2rem;
  color: #0768f6;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2.5rem;
  top: 56%;
  right: 93%;
  height: 7rem;
  width: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.aboutus__agric {
  background: #ffffff;
  border: 1px solid #ebebeb;
  box-shadow: 4px 20px 40px rgba(230, 230, 230, 0.33);
  border-radius: 0.4rem;
  position: absolute;
  padding: 1rem 2rem;
  color: #0768f6;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2.5rem;
  top: 66%;
  left: 51.4%;
  height: 7rem;
  width: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.aboutmision1 {
}
.aboutus__hero-sub {
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.aboutus__hero-sub-sess {
  max-width: 1240px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.mission {
  margin: 7rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 301px;
  background: #ffffff;
  box-shadow: 2px 10px 20px rgba(230, 230, 230, 0.82);
  border-radius: 4px;
}
.mission > img {
  display: block;
  margin-top: 3rem;
  margin-bottom: 3rem;
  height: 2.4rem;
}
.mission-header {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  display: block;
  color: #fd740e;
  margin-bottom: 2rem;
}
.mission-body {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #666666;
  display: block;
}
.top-vestors {
  max-width: 1240px;
  margin: auto;
}
.top-ovesters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutus__badge1 {
  width: 24.7rem;
  height: 4rem;
  background: rgba(239, 210, 171, 0.39);
  border-radius: 0.4rem;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #fd740e;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: -0.02rem;
}
.top-ovesters > h2 {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 3.6rem;
  line-height: 3.2rem;
  color: #121212;
  margin-top: 1.2rem;
  margin-bottom: 3rem;
}
.topvestors-cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.topvestors-card {
  width: 400px;
  /* height: 225px; */
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 2rem;
  padding: 1.6rem 3.5rem;
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.card-f {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
}

.card-f > img {
  height: 5.5rem;
}

.angel-detials {
  margin-top: 0.3rem;
  margin-left: 1.3rem;
}
.angel-detials > h4 {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #0768f6;
}
.payment-method {
  margin-top: 10rem;
  background: #f5f5f5;
}

.payment-method > h2 {
  padding-top: 2.7rem;
  text-align: center;
  color: #121212;
}

.mastercard {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mastercard > img {
  height: 7.3rem;
  margin: 2rem 5rem;
}
