.invest-wrapper {
  background-color: #f0f6ff;
  height: 125vh;
}

@media (min-width: 768px) {
  .invest-section {
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
  }

  .investimage-wrapper {
    background-image: linear-gradient(rgba(240, 246, 255, 0.836), rgba(240, 246, 255, 0.774)),
      url(../Assets/Ellipse2.png);
    height: 100%;
    background-size: 35vw;
    background-repeat: no-repeat;
    background-position: right;
    width: auto;
    margin: 0;
    padding: 0;
  }


  .invest-image{
    width: 500px;
  }

  .investpage-header h1{
    font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 4.8rem;
line-height: 76px;
letter-spacing: -0.02em;
color: #121212;
padding-top: 170px;
width: 50vw;
  }

  .invest-save-color{
    color:  rgb(253, 116, 14);;
  }

  .investpage-header p{
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 1.6rem;
line-height: 28px;
color: #666666;
width: 80%;
  }
}
