.legalTerms-section {
  width: 90%;
  margin: auto;
  height: 90vh;
}

.legal-header {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #fd740e;
  margin-top: 18px;
}

.legal-texts {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #666666;
  margin-top: 30px;
}

.legal-textss {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #666666;
  margin-top: 30px;
  padding-bottom: 50px;
}
