.hr {
  width: 980px;
  height: 1px;
  background: #f5f5f5;
}

.allTransactionModal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(153, 153, 153, 0.48);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  z-index: 999;
}

.allTransactionModal:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.alltransaction-head {
  background-color: #fff;
  margin-left: auto;
  width: 438px;
  height: 100vh;
}
