* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
html {
  font-size: 65.2%;
  box-sizing: border-box;
}
a {
  text-decoration: none !important;
}
a:hover {
  text-decoration: none !important;
}

.col {
  padding: 0 !important;
  margin: 0 !important;
}
.row {
  padding: 0 !important;
  margin: 0 !important;
}
/* .row {
  padding: 0 !important;
  margin: 0 !important;
} */

@media screen and (max-width: 960px) {
  .row {
    max-width: 90% !important;
  }
  body {
    overflow-x: hidden;
  }
}
@media screen and (max-width: 420px) {
  body {
    overflow-x: hidden;
    max-width: 420px !important;
  }
}
@media screen and (max-width: 375px) {
  body {
    overflow-x: hidden;
    max-width: 375px !important;
  }
}
