.settings-section{
  width: 90%;
  margin: auto;
}

.settings-header h1{ 
font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 30px;
letter-spacing: 0.03em;
color: #FD740E;
margin-top: 24px;
}

.settings-header img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 38px;
}

.settings-details{
  display: flex;
  justify-content: space-between;
}

.settings-page{
width: 393px;
height: 43px;
border: 1px solid #E5E5E5;
box-sizing: border-box;
  cursor: pointer;
margin-top: 42px;
}
.setting-page{
  width: 393px;
height: 43px;
border: 1px solid #E5E5E5;
box-sizing: border-box;
  cursor: pointer;
margin-top: 20px;
}

.settings-details p{
  font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 1.6rem;
line-height: 19px;
letter-spacing: 0.03em;
color: #121212;
padding-left: 31px;
margin: 12px 0px 12px 0px;
}